[server]

[mysqld]
user = mysql
pid-file = /run/mysqld/mysqld.pid
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock

bind-address=*

port = 3306
basedir = /usr
tmpdir = /tmp

character-set-server  = utf8mb4
