[mysqld]
user = mysql

pid-file = /run/mysqld/mysqld.pid
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
basedir = /usr
tmpdir = /tmp
log_error = /var/log/mysql/error.log

bind_address = 0.0.0.0

port = 3306

query_cache_limit = 1M
query_cache_size = 16M

character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
